name: Openwrt Build
on:
  workflow_dispatch: 
    inputs:
      target:
        description: '目标设备'
        required: true
        default: 'x86' 
        type: choice
        options:
        - x86
        - vplus
        - beikeyun
        - l1pro 
        - rock5b
        - h88k
        - r66s 
        - r68s
        - h68k
        - e25 
        - s905
        - s905d
        - s905x2 
        - s905x3
        - s912
        - s922x 
        - s922x-n2 
        - qemu
        - r3g
        - r3p
        - rm2100
      config:
        description: '插件配置'
        required: true
        default: 'x86_64'
        type: choice
        options:
        - x86_64
        - x86_64_cloud
        - armv8
        - armv8_full
        - r3g
        - r3p
        - rm2100
        - armv8_simple
      useLatestCode:
        description: '使用最新源代码编译'
        required: true
        type: boolean
        default: false
      useSelfHosted:
        description: '使用自建机器编译（需配置Runner）'
        required: true
        type: boolean
        default: false
      useCache:
        description: '使用编译缓存进行加速（仅自建机器下生效）'
        required: true
        type: boolean
        default: false
  workflow_call:
    inputs:
      target:
        required: true
        type: string
      config:
        required: true
        type: string
      useSelfHosted:
        required: false
        type: boolean
        default: false
      useLatestCode:
        required: false
        type: boolean
        default: true
      useCache:
        required: false
        type: boolean
        default: false
      retryCount:
        required: false
        type: string
        default: '0'
    outputs:
        OPENWRT_VER:
          description: "使用的lede仓库源码版本"
          value: ${{ jobs.build.outputs.OPENWRT_VER }}
        OPENWRT_COMMIT_ID:
          description: "使用的lede仓库源码提交点"
          value: ${{ jobs.build.outputs.OPENWRT_COMMIT_ID }}
        OPENWRT_PACKAGES_COMMIT_ID:
          description: "使用的PACKAGES插件库源码提交点"
          value: ${{ jobs.build.outputs.OPENWRT_PACKAGES_COMMIT_ID }}
        PASSWALL_PACKAGE_COMMIT_ID:
          description: "使用的PASSWALL插件库源码提交点"
          value: ${{ jobs.build.outputs.PASSWALL_PACKAGE_COMMIT_ID }}
        SMALL_PACKAGE_COMMIT_ID:
          description: "使用的SMALL插件库源码提交点"
          value: ${{ jobs.build.outputs.SMALL_PACKAGE_COMMIT_ID }}
jobs:
  build:
    name: ${{ inputs.target }}_${{ inputs.config }}
    #runs-on: ubuntu-20.04 github action免费的机器配置有限，容易导致编译失败，建议自己配个runner，配置要求硬盘空闲容量有50G以上，并装好docker，支持访问外网即可，建议使用ubuntu-20.04系统
    runs-on: ${{ inputs.useSelfHosted && 'self-hosted' || 'ubuntu-20.04' }}
    timeout-minutes: 2880
    outputs: 
      OPENWRT_VER: ${{ steps.version.outputs.OPENWRT_VER }} 
      OPENWRT_COMMIT_ID: ${{ steps.version.outputs.OPENWRT_COMMIT_ID }}
      OPENWRT_PACKAGES_COMMIT_ID: ${{ steps.version.outputs.OPENWRT_PACKAGES_COMMIT_ID }} 
      PASSWALL_PACKAGE_COMMIT_ID: ${{ steps.version.outputs.PASSWALL_PACKAGE_COMMIT_ID }} 
      SMALL_PACKAGE_COMMIT_ID: ${{ steps.version.outputs.SMALL_PACKAGE_COMMIT_ID }} 
    env:
      package_build_tool_path: 'source' # 存放本项目工具的目录名称
      compile_path: 'compile_dir' # 存放编译过程产物及产出物的目录名称
      container_name_prefix: 'GithubActionBuild_' # 编译镜像名前缀
      container_name: 'GithubActionBuild_${{ github.run_number }}' # 编译时使用的容器名
    steps:
      - name: Print input
        run:  echo "${{ toJSON(inputs) }}"

      - name: Expand disk space
        if: ${{ !inputs.useSelfHosted }}
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 4096
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Clean source
        if: ${{ inputs.useSelfHosted }}
        run: |
          sudo rm -rf ${{ env.package_build_tool_path }}
          sudo rm -rf ${{ env.compile_path }}/artifact/*

      - name: Clean environment
        if:  ${{ inputs.useSelfHosted && !inputs.useCache  }} 
        run: sudo rm -rf ${{ env.compile_path }}

      - name: Checkout source
        uses: actions/checkout@v3
        with:
          path: ${{ env.package_build_tool_path }}

      - name: Set use latest code
        if:  ${{ inputs.useLatestCode }} 
        run: sudo echo '' > version.sh
        working-directory: ${{ env.package_build_tool_path }}

      - name: Build firmware
        run: |
          set +e
          RETRY_COUNT=${{ inputs.retryCount }}
          RETRY_COUNT=${RETRY_COUNT:-0}
          IS_COMPILE_SUCCEED=0
          for ((i=0; i<=$RETRY_COUNT; i++))
          do
              sudo ./run_build_use_docker.sh -c ${{ inputs.config }} -d ${{ inputs.target }} -n ${{ env.container_name }} -o ${{ github.workspace }}/${{ env.compile_path }}
              if [ $? -ne 0 ];then
                  echo '失败'
              else
                  IS_COMPILE_SUCCEED=1
                  break;
              fi
          done
          set -e
          # 编译失败则退出进程
          [ $IS_COMPILE_SUCCEED -eq 0 ] && exit -1
        working-directory: ${{ env.package_build_tool_path }}

      - name: Set artifact path
        run: |
          sudo chmod -R 777 artifact
          ARTIFACT_PATH=$PWD/$(ls artifact/${{ inputs.target }}/*.7z)
          FILE_NAME=$(basename $ARTIFACT_PATH)
          echo "ARTIFACT_PATH=$ARTIFACT_PATH" >> $GITHUB_ENV
          echo "ARTIFACT_FILE=$FILE_NAME"".${{ inputs.config }}" >> $GITHUB_ENV
        working-directory: ${{ env.compile_path }}

      - name: Upload artifact
        uses: actions/upload-artifact@v3.1.1
        with:
          name: ${{ env.ARTIFACT_FILE }}
          path: ${{ env.ARTIFACT_PATH }}
          retention-days: 2

      - id: version
        name: Output version
        if: success()
        run: |
          echo "OPENWRT_VER=R$(TZ=':Asia/Shanghai' date '+%y.%m.%d')" >> $GITHUB_OUTPUT
          cd openwrt
          git config --global --add safe.directory $PWD
          echo "OPENWRT_COMMIT_ID=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

          cd package/kenzo
          git config --global --add safe.directory $PWD
          echo "OPENWRT_PACKAGES_COMMIT_ID=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

          cd ../passwall
          git config --global --add safe.directory $PWD
          echo "PASSWALL_PACKAGE_COMMIT_ID=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

          cd ../small-package
          git config --global --add safe.directory $PWD
          echo "SMALL_PACKAGE_COMMIT_ID=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
        working-directory: ${{ env.compile_path }}
        
      - name: Remove container
        if: ${{ success() || cancelled() }}
        run: sudo docker container rm -f $(docker container ls -aq --filter name=${{ env.container_name_prefix }}) && echo 'remove success' || echo 'unnecessary remove'

      

